@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-ds {
  background: rgb(105, 0, 234);
  background: linear-gradient(0deg, rgba(105, 0, 234, 1) 0%, rgba(66, 0, 148, 1) 100%);
}

.bg-ds-light {
  background: rgb(105, 0, 234);
  background: linear-gradient(0deg, rgba(105, 0, 234, 1) 0%, rgba(66, 0, 148, 1) 100%);
}

